.place__title {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media only screen and (max-width: 490px) {
  .place__title {
    width: 90%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 600px) {
  .place__title {
    font-size: 32px;
    line-height: 1.1;
    width: 90%;
  }
}

@media only screen and (max-width: 320px) {
  .place__title {
    width: 288px;
  }
}
