.photo-grid__item {
  width: 100%;
  max-width: 284px;
}

@media only screen and (max-width: 1024px) {
  .photo-grid__item {
    max-width: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .photo-grid__item {
    max-width: 352px;
  }
}

@media only screen and (max-width: 320px) {
  .photo-grid__item {
    max-width: 100%;
  }
}
