.place__text {
  grid-column: 2/3;
  grid-row: 2/3;
}

@media only screen and (min-width: 321px) and (max-width: 600px) {
  .place__text {
    max-width: 90%;
  }
}

@media only screen and (max-width: 320px) {
  .place__text {
    max-width: 288px;
  }
}
