.cover__title {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 560px;
  color: #ffffff;
  font-size: 72px;
  line-height: 1.05;
  text-align: center;
  z-index: 3;
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .cover__title {
    top: 31%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 880px){
  .cover__title {
    top: 25%;
  }
}

@media only screen and (min-width: 580px) and (max-width: 767px){
  .cover__title {
    font-size: 42px;
    top: 35%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 579px){
  .cover__title {
    font-size: 32px;
    line-height: 1.1;
    top: 14%;
    width: 288px;
  }
}
