.cover__title {
  max-width: 560px;
  color: #ffffff;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  text-align: center;
  margin: 0 0 32px 0;
  z-index: 2;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.1;
    max-width: 288px;
    margin: 0 0 16px 0;
    box-sizing: border-box;
    padding: 0 23px;
  }
}
